body {
  width: 100%;
  height: 100%;
  font-family: "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #bdb5b2;
  background-color: #070500;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 35px 0;
  text-transform: uppercase;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}
h2 {
  font-size: 50px;
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 1200px) {
  h2 {
    font-size: 60px;
  }
}
h3 {
  font-size: 22px;
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 1200px) {
  h3 {
    font-size: 50px;
  }
}
h4 {
  font-size: 20px;
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 1200px) {
  h4 {
    font-size: 40px;
  }
}
h5 {
  font-size: 20px;
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 1200px) {
  h5 {
    font-size: 20px;
  }
}
ul,
ol {
  margin-bottom: 10px;
  margin-top: 0;
  padding-left: 0;
  list-style-position: inside;
  font-size: 18px;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 767px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}
a {
  color: #999999;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #666666;
}
.light {
  font-weight: 400;
}
.white {
  color: white;
}
.up {
  color: white;
  font-size: 10px;
  background: #a8d9eb;
  padding: 3px;
}
.action {
  color: #a8d9eb;

  font-size: 15px !important;
}
@media (min-width: 1200px) {
  .action {
    font-size: 30px !important;
  }
}
.cover {
  margin-bottom: 20px;
  border: 1px solid #bdb5b2;
}
.info {
  border-bottom: 5px solid #a8d9eb;
  border-top: 5px solid #a8d9eb;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-top: 100px;
}
.fa {
  color: #a8d9eb;
}
.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #070500;
}
.navbar-brand {
  font-weight: 700;
}
.navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: #bdb5b2;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  line-height: 36px;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
.navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #bdb5b2;
}
.navbar-toggle:focus,
.navbar-toggle:active {
  outline: none;
}
@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
    background-color: #070500;
  }
  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #bdb5b2;
  background: url(../img/intro.jpg) no-repeat top center scroll;
  background-color: #070500;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro-body {
  display: table-cell;
  vertical-align: middle;
}
.brand-heading {
  font-size: 25px !important;
}
@media (min-width: 1200px) {
  .brand-heading {
    font-size: 70px !important;
    opacity: 0.6;
    border-bottom: 5px solid #a8d9eb;
    border-top: 5px solid #a8d9eb;
    padding: 1rem 0;
  }
}
.intro-text {
  font-size: 16px;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.intro-text .fa {
  color: #bdb5b2;
}
@media (min-width: 767px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro-text {
    font-size: 30px;
    color: white !important;
    opacity: 0.7;
  }
  .intro-text a {
    color: white !important;
  }
}

.elastic-video {
    position: relative;
    padding-bottom: 55%;
    padding-top: 15px;
    height: 0;
    overflow: hidden;
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #a8d9eb;
  border-radius: 35px;
  font-size: 40px;
  color: #a8d9eb;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: #bdb5b2;
  background: rgba(255, 255, 255, 0.1);
}
.page-scroll .btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.page-scroll .btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.content-section {
  padding-top: 100px;
}
.download-section {
  width: 100%;
  padding: 50px 0;
  color: #bdb5b2;
  background-color: #070500;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.elastic-video {
  position: relative;
  padding-bottom: 55%;
  padding-top: 15px;
  height: 0;
  overflow: hidden;
}
.elastic-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}
@media (min-width: 767px) {
  .content-section {
    padding-top: 0px;
  }
  .download-section,
  .about-section,
  .contact-section,
  .impressum-section,
  .end-section {
    padding: 1rem 0 1rem 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }
}
.btn {
  text-transform: uppercase;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-default {
  border: 1px solid #999999;
  color: #999999;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #999999;
  outline: none;
  color: #070500;
  background-color: #999999;
}
.btn-huge {
  padding: 25px;
  font-size: 26px;
}
.banner-social-buttons {
  margin-top: 0;
}
.network-name {
  display: inline-block;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  }
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
